.how {
  padding: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.how h2 {
  margin-top: 3rem;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #605094;
}

.how p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1rem;
  text-align: justify;
}

.how em {
  color: #94608d;
}

.how strong {
  color: #605094;
}

.how blockquote {
  background-color: #f9f9f9;
  border-left: 5px solid #605094;
  padding: 1rem;
  margin-top: 1.5rem;
  font-style: italic;
  color: #555;
  text-align: center;
}

.how img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .how {
    padding: 2rem 4rem;
    text-align: center;
    font-size: 2em !important;
  }
  .how img {
    width: 600px;
    margin: 3rem 0;
  }

  .how h2 {
    font-size: 1.2em !important;
    margin-bottom: 2rem;
  }

  .how ul,
  .how ol {
    text-align: left;
    li {
      line-height: 2rem !important;
    }
  }
}

@media screen and (min-width: 1280px) {
  .how p {
    font-size: 1em;
  }
}
